[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyppeteer = "*"
requests = "*"
python-dotenv = "*"
flask = {version = "*", extras = ["async"]}

[dev-packages]

[requires]
python_version = "3.11"
